<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9374485488-3tdk5bcs94a02hb9gbptnu7f225l6889.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9374485488-3tdk5bcs94a02hb9gbptnu7f225l6889</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNT5ncxHRSLBiq4AuijoFzhX2zUGalSo</string>
	<key>GCM_SENDER_ID</key>
	<string>9374485488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carriola.CRUD</string>
	<key>PROJECT_ID</key>
	<string>firestore-tutorial-805cc</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-tutorial-805cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9374485488:ios:e8de7001fb53fba6</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-tutorial-805cc.firebaseio.com</string>
</dict>
</plist>